#venvs
venv/
.env/
#editor files
__pycache__/
*.pyc
*.pyo
*.pyd
*.swp
.DS_Store
.idea/
.vscode/
# Notebook outputs
*.ipynb_checkpoints/
#tensorboard
ppo_drone_tensorboard/
#models
models_checkpoints/
#final MLP
*.zip